*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, hsl(266, 70%, 75%), 50% ,rgb(66, 30, 194));
  background-image: url('./1624.jpg');
  /* background-position: center; */
  background-size: auto;
  background-repeat: no-repeat;
  font-family: 'Orbitron', sans-serif;
}

button{
  font-family: 'Orbitron', sans-serif;
}

#game{
  height: 80vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#game div {
  cursor: pointer;
  border: 4px solid black;
  width: 15vw;
  height: 19vh; 
  margin: 0.5vh;
  border-radius: 10px;
  background-color: rgb(13, 26, 70);
  background: url('./pngwing.com.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.resetMessage{
  color: red;
  display: none;
}


.gameWithScore{
  display: flex;
  flex-direction: column;
}

.finalScoreContainer{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

.gameLevel{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.scoreBoard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  color: white;
}

.successMessage,
.scoreMessage{
  color: white;
}

.gameLevel button{
  height: 10vh;
  width: 20vw;
  cursor: pointer;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
  border-radius: 10px;
  border: none;
  font-size: 3vh;
  padding: 1vh;
}

.scoreTitle{
  color: black;
  border: 4px solid black ;
}

.scoreBoard button{
  height: 10vh;
  width: 20vw;
  cursor: pointer;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
  border-radius: 10px;
  border: none;
  font-size: 3vh;
  padding: 1vh;
}

.highestScoreContainer{
  display: flex;
  flex-direction: row;
}

.scoreContainer{
  display: flex;
  flex-direction: row;
}

.guessContainer{
  display: flex;
  flex-direction: row;
}

.gameStart{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.gameStart button{
  height: 15vh;
  width: 30vw;
  cursor: pointer;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
  border-radius: 10px;
  border: none;
  font-size: 3vh;
  padding: 1vh;
}

.playAgainButton{
  height: 10vh;
  width: 20vw;
  cursor: pointer;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
  border-radius: 10px;
  border: none;
  font-size: 3vh;
  padding: 1vh;
}

.home{
  height: 10vh;
  width: 20vw;
  cursor: pointer;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
  border-radius: 10px;
  border: none;
  font-size: 3vh;
  padding: 1vh;
}

.completed{
  height: 70vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  display: none;
}

a{
  color:white;
  text-decoration: none;
}

.gameLevel h1{
  color: white;
}

header{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(27, 24, 73, 0.959);
}

@media screen and (max-width: 1200px){
  #game div {
    width: 25%;
    height: 20%;
  }

  header{
    height: 10vh;
  }

  #game{
    height: 70vh;
  }

  .completed{
    padding-left: 5vh;
    padding-right: 5vh;
    text-align: center;
  }

  .completed h1{
    font-size: 2.5vh;
  }

  .finalScoreContainer h1{
    font-size: 2vh;
  }

  .finalScoreContainer{
    height: 13vh;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
  }

  .gameLevel h1{
    font-size: 3vh;
    text-align: center;
    color: white;
  }

  .gameStart button{
    width: 60vw;
  }

  .gameLevel button{
    width: 40vw;
  }

  .resetMessage{
    font-size: 2.5vh;
  }

  .playAgainButton,
  .home{
    font-size: 2.5vh;
    width: 40vw;
  }
}